.message {
  width: 100%;
  padding: 2em 0;
  text-align: center;
  background-color: var(--secondary-background);
  color: var(--secondary-font);
  border-radius: 0.4rem;
}

.button {
  background-color: inherit;
  font: inherit;
  border: none;
}

.bold {
  font-weight: 700;
}

.todo-list-wrapper {
  border-radius: 7px;
  overflow: hidden;
  box-shadow: var(--shadow);
}

.todo-list-lower-bar {
  display: flex;
  justify-content: space-between;
  padding: 1em 1.5em;
  background-color: var(--secondary-background);
  border-top: 1px solid var(--divider);
}

.todo-list-lower-bar-buttons {
  display: flex;
  gap: 1em;
}

.secondary {
  font-size: 0.875rem;
  color: var(--inactive-font);
}

.active-filter {
  color: var(--bright-blue);
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: grid;
  place-content: center;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.05em solid var(--divider);
  border-radius: 90px;
  transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
  content: "";
  width: 0.7em;
  height: 0.7em;
  transform: scale(0);
  border-radius: 90px;
  transition: 20ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
  transform-origin: center;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  background: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.todo-element + .todo-element {
  border-top: 1px solid var(--divider);
}

.mobile {
  display: none;
}

.lower-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  padding: 1rem 1.5rem;
  background-color: var(--secondary-background);
  margin-top: 1em;
}

label input[type="text"] {
  padding-left: 1.5em;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .todo-list-lower-bar {
    border-radius: 0 0 7px 7px;
    padding: 1.5em;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 12px;
  }

  input[type="checkbox"] {
    transform: translateY(0.3em);
  }

  .secondary {
    font-size: 0.85rem;
  }

  input {
    font-size: 0.75rem;
  }
}
