label {
  display: flex;
  width: 100%;
  background-color: var(--secondary-background);
  padding: 1.2em;
}

input {
  padding: 0;
}

.todo {
  display: flex;
  align-items: center;
  padding-left: 1.5em;
  font-size: 1.125em;
  color: var(--secondary-font);
  font-weight: 400;
}

.completed {
  color: var(--completed-font);
  text-decoration: line-through;
}

.todo-element {
  display: flex;
  background-color: var(--secondary-background);
  padding-right: 1rem;
}

.edit-save-buton,
.delete-button,
.add-todo-button {
  margin: 1rem 1rem;
  font-family: inherit;
  border: none;
  background-color: inherit;
  color: var(--secondary-font);
}

button:hover {
  cursor: pointer;
}

button {
  font-size: 1rem;
}
