* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary  */

  --bright-blue: hsl(220, 98%, 61%);

  /* LightTheme */

  --background: #fafafa;
  --secondary-background: #fff;
  --divider: #e3e4f1;
  --inactive-font: #9495a5;
  --inactive-placeholder-font: #9495a5;
  --primary-font: #393a4b;
  --secondary-font: #494c6b;
  --completed-font: #d1d2da;
  --white-elements: #fff;
  --shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

[data-theme="dark"] {
  /* Dark Theme */

  --background: #171823;
  --secondary-background: #25273d;
  --divider: #393a4b;
  --primary-font: #c8cbe7;
  --secondary-font: #c8cbe7;
  --completed-font: #4d5067;
  --inactive-font: #5b5e7e;
  --inactive-placeholder-font: #767992;
  --white-elements: #fff;
  --shadow: none;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--background);
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
}

.light-background,
.dark-background {
  position: relative;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 1440px;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.light-background {
  background-image: url(../public/bg-desktop-light.jpg);
}

.dark-background {
  background-image: url(../public/bg-desktop-dark.jpg);
}

.todo-card-wrapper {
  position: absolute;
  width: 80%;
  max-width: 540px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4em 0 2.5em 0;
}

h1 {
  font-size: 2.5rem;
  color: white;
  letter-spacing: 0.9375rem;
  font-weight: 700;
}

.theme-switcher {
  background: none;
  border: none;
}

button:hover {
  cursor: pointer;
  color: var(--secondary-font);
}
@media only screen and (max-width: 450px) {
  .todo-card-wrapper {
    width: 85%;
  }

  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 376px) {
  .light-background {
    background-image: url(../public/bg-mobile-light.jpg);
  }

  .dark-background {
    background-image: url(../public/bg-mobile-dark.jpg);
  }
}
